h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*================================================================================*/



/*==== Header - Mobile ====*/

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: none;
}

.header-contacts {
  display: none;
}


.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-studio {
  color: #2e2f42;
}


/*==== Menu - Mobile ====*/

@media screen and (max-width: 767px) {
  .dialog-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .dialog-open-btn-icon {
    fill: #2f2f37;
  }

  .dialog-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dialog-menu.is-open {
    transform: translateX(0%);
  }

  .dialog-menu-container {
    position: relative;
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  .dialog-nav-list {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .dialog-nav-list.active {
    color: #404bbf;
  }

  .dialog-header-nav-list { 
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 72px;
  }

  .dialog-nav-link {  
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    font-style: normal;
  }
  .dialog-nav-link.active { 
    color: #4d5ae5;
  }

  .dialog-social-box {  
    margin-top: auto;
  }

  .dialog-contacts-list {  
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: auto;
  }
  .dialog-close-menu-btn {
    border: #e7e9fc solid 1px;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dialog-close-menu-btn-icon {
    fill: #2e2f42;
  }

  .dialog-menu-social {
    margin-top: 48px;
  }

  .dialog-menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin-bottom: 40px;
  }

  .dialog-menu-links-item {
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .dialog-menu-links-icon {
    fill: #f4f4fd;
  }
}



/*==== Header - Tablet ====*/

@media screen and (min-width: 768px) {
  .navigation-list {
    display: inline-flex;
    color: #2e2f42;
    gap: 40px;
    margin-left: 120px;
  }

  .container {
    max-width: 768px;
  }

  .dialog-menu {
    display: none;
  }

  .dialog-open-btn {
    display: none;
  }

  .header {
    padding: 0;
  }

   .navigation {
    display: flex;
    align-items: center;
   }


 .header-contacts {
  display: flex;
  font-style: normal;
}

.navigation-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list.active {
  color: #404bbf;
}

.navigation-list.active::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  background: #404bbf;
  color: #404bbf;
  width: 48px;
  height: 4px;
  margin-top: 20px;
  bottom: -1px;
}


.header-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-content: flex-end;
}


  .contact-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}





/*==== Header - Desktop ====*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }


  .header-contacts-list {
    gap: 40px;
    flex-direction: row;
  }

  .contact-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  .navigation-link:hover,
  .navigation-link:focus {
    color: #404bbf;
  }
}

/*==============================================================================*/





/*==== Solutions - Mobile ====*/

.solutions {
  max-width: 320px;
  margin: 0 auto;
  height: 432px;
  flex-shrink: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/solutions_mob.jpg);
  background-size: cover;
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/solutions_mobx2.jpg);
  }
}

.solutions-title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  max-width: 288px;
  margin-bottom: 72px;
  padding-left: 59px;
  padding-right: 60px;
}

.solutions-button {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*==== Solutions - Tablet ====*/

@media screen and (min-width: 768px) {
  .solutions {
    min-width: 768px;
    margin: 0 auto;
    height: 436px;
    flex-shrink: 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/solutions_tab.jpg);
    background-size: cover;
    padding: 112px 0;
    background-repeat: no-repeat;
    max-width: 768px;
    background-position: center;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/solutions_tabx2.jpg);
    }
  }

  .solutions-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 36px;
    padding: 0;
  }
}



/*==== Solutions - Desktop ====*/

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }

  .solutions {
    min-width: 1158px;
    margin: 0 auto;
    height: 600px;
    flex-shrink: 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/solutions_desk.jpg);
    background-size: cover;
    padding: 188px 0;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/solutions_deskx2.jpg);
    }
  }
  .solutions-button:hover,
  .solutions-button:focus {
    background-color: #404bbf;
  }
}

/*=================================================================================*/



/*==== Advantages - Mobile ====*/

.advantages {
  padding: 96px 0;
}

.advantages-icon-container {
  display: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantages-text {
  align-self: stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/*==== Advantages - Tablet ====*/


@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-text {
    width: 356px;
  }
}



/*==== Advantages - Desktop ====*/


@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }

  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .advantages-text {
    width: 264px;
    font-weight: 400;
  }

  .advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
/*==============================================================================*/



/*==== Team - Mobile ====*/

.team {
  background: #f4f4fd;
  padding: 96px 0;
}

.team .container {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
}

.team-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-role {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}

.team-link {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
}



/*==== Team - Tablet ====*/

@media screen and (min-width: 768px) {
  .team .container {
    width: 584px;
    padding: 0 16px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/*==== Team - Desktop ====*/


@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
    min-width: 1440px;
  }

  .team .container {
    min-width: 1128px;
    padding: 0;
  }

  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .team-link:hover,
  .team-link:focus {
    background-color: #404bbf;
  }
}

/*==============================================================================*/





/*==== Portfolio - Mobile ====*/

.portfolio {
  padding: 96px 0;
}
.container {
  padding: 0 16px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-item {
  background: #ffffff;
  border: 1px solid var(--f4f4fd);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-category {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overlay-text {
  display: none;
}



/*==== Portfolio - Tablet ====*/

@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    flex-basis: calc((100% - 2 * 24px) / 2);
  }
  .portfolio-pic {
    width: 356px;
    height: 300px;
  }
}



/*==== Portfolio - Desktop ====*/

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay-wrapper {
    position: relative;
    overflow: hidden;
    width: 360px;
  }

  .overlay-text {
    display: block;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    width: 360px;
    height: 300px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover .overlay-text {
    transform: translateY(0%);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/*==============================================================================*/






/*==== Footer - Mobile ====*/


.footer {
  padding-top: 97.5px;
  background-color: #2e2f42;
  padding-bottom: 96px;
}

.container.footer-container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  padding-left: 86px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 288px;
}

.footer-icons-link {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-cont {
  margin-right: 120px;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-icons-list {
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  padding-left: 40px;
  display: inline-flex;
  align-items: flex-start;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-icons-cont {
  display: block;
  height: 80px;
}

.footer-icons-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 96px;
}

.footer-subscribe-cont {
  display: block;
  flex-shrink: 0;
}

.footer-subscribe-title {
  padding-left: 106px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 0;
}

.footer-subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.3;
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  margin-left: 60px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background: #404bbf;
  cursor: pointer;
}




/*==== Footer - Tablet ====*/

@media screen and (min-width: 768px) {
  .container.footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: baseline;
    width: 584px;
  }

  .footer-subscribe-input {
    width: 264px;
  }

  .footer-logo {
    padding-left: 0;
  }

  .footer-logo-cont {
    margin: 0;
    width: 264px;
  }

  .footer-icons-title {
    padding-left: 0;
  }

  .footer-icons-list {
    padding: 0;
  }

  .footer-subscribe-form {
    flex-direction: row;
    row-gap: 24px;
  }

  .footer-subscribe-title {
    padding-left: 0;
  }

  .footer-subscribe-btn {
    margin-left: 0;
  }
}




/*==== Footer - Desktop ====*/

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 101px;
    padding-bottom: 100px;
  }

  .container.footer-container {
    width: 1440px;
    flex-direction: row;
    gap: 0;
    align-items: baseline;
    padding-left: 16px;
  }

  .footer-logo-cont {
    width: 264px;
    margin-right: 120px;
  }

  .footer-icons-cont {
    margin-right: 80px;
  }

  .footer-icons-link:hover,
  .footer-icons-link:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe-form {
    width: 453px;
    padding: 0;
  }

  .footer-subscribe-title {
    padding: 0;
  }

  .footer-subscribe-input {
    opacity: 100%;
  }

  .footer-subscribe-btn:hover,
  .footer-subscribe-btn:focus {
    background: #404bbf;
    cursor: pointer;
  }
}

/*==================================================================================*/



/*==== Modal Window ====*/

/*  MODAL MOBILE STYLE */
.dialog {
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.dialog-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dialog-close-btn {
  background-color: #e7e9fc;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 50%;
  line-height: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  fill: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dialog-close-btn:hover,
.dialog-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.dialog-message {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
/* FORM */
.dialog-field {
  margin-bottom: 8px;
}
.dialog-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.dialog-input-wrapper {
  position: relative;
}
.dialog-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dialog-input:focus {
  border-color: #4d5ae5;
  outline-offset: 4px;
  outline-color: transparent;
}
.dialog-input:focus + .dialog-icon {
  fill: #4d5ae5;
}
.dialog-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dialog-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
}
.dialog-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.dialog-textarea:focus {
  border-color: #4d5ae5;
  outline-offset: 4px;
  outline-color: transparent;
}
.dialog-checkbox-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.dialog-checkbox-mark {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  flex-shrink: 0;
}
.dialog-checkbox:checked + .dialog-checkbox-label > .dialog-checkbox-mark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.dialog-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.dialog-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* MODAL TABLET STYLE */
@media screen and (min-width: 768px) {
  .dialog-box {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .dialog-privacy-link {
    padding: 0;
  }
}